Repository TheFlexican/smart-heating: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, eslint, prettier, tsc

ruff:
  name: ruff (lint)
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff check smart_heating --select E,F,C || true'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff format --quiet "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd smart_heating/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd smart_heating/frontend && npm run format'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript Check
  entry: bash -c 'cd smart_heating/frontend && npm run type-check'
  language: system
  pass_filenames: false

update tests added locally
  tests/unit/test_websocket_helpers.py
Due: ruff, ruff-format

add history tests
  tests/unit/test_history_helpers.py
Due: ruff, ruff-format

chore: add table-name validation and tests for storage_helpers (#110)
  docs/DEVELOPER.md
  smart_heating/__init__.py
  smart_heating/api/websocket.py
  smart_heating/config_flow.py
  smart_heating/storage/history.py
  smart_heating/storage_helpers.py
  tests/unit/test_history_helpers.py
  tests/unit/test_storage_helpers.py
  tests/unit/test_storage_helpers_db_drop.py
  tests/unit/test_uninstall.py
  tests/unit/test_websocket_helpers.py
Due: ruff, ruff-format

ci: enforce 80% new-code coverage for PRs; document requirement in agents
  .github/agents/home-assistant-integration.agent.md
  .github/agents/home-assistant-pytest.agent.md
  .github/agents/sonarqube.agent.md
  .github/agents/typescript-react.agent.md
  .github/agents/typescript-testing.agent.md
  .github/workflows/enforce-new-code-coverage.yml
Due: none

chore: document new-code coverage workflow in CHANGELOG
  CHANGELOG.md
Due: none

docs: document new-code coverage requirement
  docs/DEVELOPER.md
Due: none

docs: add agents README note about new-code coverage
  .github/agents/README.md
Due: none

chore(ci): remove redundant enforce-new-code-coverage workflow (sonarqube CI already covers it)
  .github/workflows/enforce-new-code-coverage.yml
Due: none

removed agents readme
  .github/agents/README.md
Due: none

Enforce new code coverage (#111)
  .github/agents/home-assistant-integration.agent.md
  .github/agents/home-assistant-pytest.agent.md
  .github/agents/sonarqube.agent.md
  .github/agents/typescript-react.agent.md
  .github/agents/typescript-testing.agent.md
  CHANGELOG.md
  docs/DEVELOPER.md
Due: none

chore(docs): move documentation into docs/ (except README.md)
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
  docs/ADVANCED_CONTROL.md
  docs/ARCHITECTURE.md
  docs/DEVELOPER.md
  docs/HACS_NOTES.md
  docs/HEATING_EXPERT.md
  docs/NEST_THERMOSTAT_FEATURES.md
  docs/OPENTHERM.md
  docs/QUICKSTART.md
  docs/README.md
  docs/SAT_OPTIMIZATION_GUIDE.md
  docs/TESTING_QUICKSTART.md
  docs/TROUBLESHOOTING.md
Due: none

chore(docs): move documentation into docs/ (except README.md) (#112)
  .github/copilot-instructions.md
  CHANGELOG.md
  README.md
  docs/ADVANCED_CONTROL.md
  docs/ARCHITECTURE.md
  docs/DEVELOPER.md
  docs/HACS_NOTES.md
  docs/HEATING_EXPERT.md
  docs/NEST_THERMOSTAT_FEATURES.md
  docs/OPENTHERM.md
  docs/QUICKSTART.md
  docs/README.md
  docs/SAT_OPTIMIZATION_GUIDE.md
  docs/TESTING_QUICKSTART.md
  docs/TROUBLESHOOTING.md
Due: none

fix: add 'preset' event type to AreaLogger.EVENT_TYPES and tests
  smart_heating/area_logger.py
  tests/unit/test_area_logger.py
Due: ruff, ruff-format

refactor(global-settings): extract Presets tab into PresetsSettings component
  smart_heating/frontend/src/components/GlobalSettings/PresetsSettings.test.tsx
  smart_heating/frontend/src/components/GlobalSettings/PresetsSettings.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

refactor(global-settings): extract Sensors tab into SensorsSettings component
  smart_heating/frontend/src/components/GlobalSettings/SensorsSettings.test.tsx
  smart_heating/frontend/src/components/GlobalSettings/SensorsSettings.tsx
  smart_heating/frontend/src/components/__tests__/TrvConfigDialog.test.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

refactor(global-settings): extract Safety tab into SafetySettings component
  smart_heating/frontend/src/components/GlobalSettings/SafetySettings.test.tsx
  smart_heating/frontend/src/components/GlobalSettings/SafetySettings.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

refactor(global-settings): extract Advanced tab into AdvancedSettings component
  smart_heating/frontend/src/components/GlobalSettings/AdvancedSettings.test.tsx
  smart_heating/frontend/src/components/GlobalSettings/AdvancedSettings.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

refactor(global-settings): extract OpenTherm tab into OpenThermSettings component
  smart_heating/frontend/src/components/GlobalSettings/OpenThermSettings.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

refactor(global-settings): extract Debug tab into DebugSettings component
  smart_heating/frontend/src/components/GlobalSettings/DebugSettings.test.tsx
  smart_heating/frontend/src/components/GlobalSettings/DebugSettings.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

refactor(global-settings): extract header into GlobalSettingsHeader component
  smart_heating/frontend/src/components/GlobalSettings/GlobalSettingsHeader.test.tsx
  smart_heating/frontend/src/components/GlobalSettings/GlobalSettingsHeader.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

refactor(global-settings): extract TabPanel helper component
  smart_heating/frontend/src/components/GlobalSettings/TabPanel.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

docs(changelog): add unreleased note for GlobalSettings decomposition
  CHANGELOG.md
Due: none

style: run prettier formatting
  smart_heating/frontend/src/components/GlobalSettings/AdvancedSettings.tsx
  smart_heating/frontend/src/components/GlobalSettings/DebugSettings.tsx
  smart_heating/frontend/src/components/GlobalSettings/OpenThermSettings.test.tsx
  smart_heating/frontend/src/components/GlobalSettings/PresetsSettings.tsx
  smart_heating/frontend/src/components/GlobalSettings/SafetySettings.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

feat(area-detail): extract TabPanel to shared component
  smart_heating/frontend/src/components/common/TabPanel.test.tsx
  smart_heating/frontend/src/components/common/TabPanel.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

feat(area-detail): extract helper functions to areaHelpers.ts
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/utils/areaHelpers.ts
Due: eslint, prettier, tsc

feat(area-detail): extract AreaDetailHeader component
  smart_heating/frontend/src/components/AreaDetail/AreaDetailHeader.test.tsx
  smart_heating/frontend/src/components/AreaDetail/AreaDetailHeader.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

feat(area-detail): extract AreaSettingsTab component
  smart_heating/frontend/src/components/AreaDetail/AreaSettingsTab.test.tsx
  smart_heating/frontend/src/components/AreaDetail/AreaSettingsTab.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix(websocket): narrow exception handling, add id validation and tighten typing; add tests
  smart_heating/api/websocket.py
  tests/unit/test_websocket_helpers.py
Due: ruff, ruff-format

fix(api): address Pylance & SonarQube findings in server and websocket; add safe hass.data lookups, helpers, constants, and improved logging
  smart_heating/api/server.py
Due: ruff, ruff-format

fix(api/areas): Pylance & sonarqube cleanup — tighten exceptions, add constants, type hints, and minor fixes
  smart_heating/api/handlers/areas.py
Due: ruff, ruff-format

fix(api/comparison): tighten validation and errors; narrow exceptions and improve logging
  smart_heating/api/handlers/comparison.py
Due: ruff, ruff-format

fix(api/system): improve error logging and responses, add async awaits and type hints
  smart_heating/api/handlers/system.py
Due: ruff, ruff-format

fix(api/logs): tighten types, parse limits safely, handle sync/async manager results, improve error logging
  smart_heating/api/handlers/logs.py
Due: ruff, ruff-format

fix(api/sensors): add constants, async awaits, and robust error handling; tighten messages and typing
  smart_heating/api/handlers/sensors.py
Due: ruff, ruff-format

fix(api/schedules): safe hass.data lookups, constants, robust error handling, and small refactors
  smart_heating/api/handlers/schedules.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  eslint: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
  prettier: any of: smart_heating/frontend/src/.*\.(ts|tsx|json|css|md)$
  tsc: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
