Repository TheFlexican/smart-heating: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, eslint, prettier, tsc

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Run the linter
      - id: ruff
        name: ruff (lint)
        entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff check smart_heating --select E,F,C || true'
        language: system
        types: [python]
        pass_filenames: false
      # Run the formatter (no-ops if unchanged)
      - id: ruff-format
        name: ruff format
        entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff format --quiet "$@"' --
        language: system
        types: [python]
        pass_filenames: true

  # Use Ruff as the single Python lint + formatting tool to avoid toolchain conflicts
  # Ruff hooks (check and format) are already present above as 'ruff' and 'ruff-format'.
  # Keep only ruff-based checks here for Python to ensure local commits match CI.

  - repo: local
    hooks:
      # Frontend ESLint
      - id: eslint
        name: ESLint
        entry: bash -c 'cd smart_heating/frontend && npm run lint:fix'
        language: system
        files: 'smart_heating/frontend/src/.*\.(ts|tsx)$'
        pass_filenames: false
      # Frontend Prettier
      - id: prettier
        name: Prettier
        entry: bash -c 'cd smart_heating/frontend && npm run format'
        language: system
        files: 'smart_heating/frontend/src/.*\.(ts|tsx|json|css|md)$'
        pass_filenames: false
      # Frontend TypeScript checking
      - id: tsc
        name: TypeScript Check
        entry: bash -c 'cd smart_heating/frontend && npm run type-check'
        language: system
        files: 'smart_heating/frontend/src/.*\.(ts|tsx)$'
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

chore(frontend): replace deprecated MUI typography props with slotProps
  smart_heating/frontend/src/components/MobileSettingsLayout.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract HistoryMigrationControls from AreaDetail
  smart_heating/frontend/src/components/HistoryMigrationControls.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract StorageBackendInfo and simplify AreaDetail
  smart_heating/frontend/src/components/StorageBackendInfo.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract PresetControls from AreaDetail
  smart_heating/frontend/src/components/PresetControls.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract AutoPresetControls from AreaDetail
  smart_heating/frontend/src/components/AutoPresetControls.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract SensorConfigControls from AreaDetail
  smart_heating/frontend/src/components/SensorConfigControls.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract PrimaryTemperatureSensor from AreaDetail
  smart_heating/frontend/src/components/PrimaryTemperatureSensor.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract OutdoorSensorControls from AreaDetail
  smart_heating/frontend/src/components/OutdoorSensorControls.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract BoostControls from AreaDetail
  smart_heating/frontend/src/components/BoostControls.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract LearningStats component from AreaDetail
  smart_heating/frontend/src/__tests__/App.scroll.test.tsx
  smart_heating/frontend/src/components/LearningStats.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract DevicesPanel from AreaDetail
  smart_heating/frontend/src/components/DevicesPanel.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract AreaHeader from AreaDetail
  smart_heating/frontend/src/components/AreaHeader.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix(frontend): restore AreaSettingsSections to reduced implementation
  smart_heating/frontend/src/pages/area/common/AreaSettingsSections.tsx
Due: eslint, prettier, tsc

chore(frontend): run prettier formatting after lint fixes
  smart_heating/frontend/src/api/areas.ts
  smart_heating/frontend/src/components/area/AreaSettings.test.tsx
  smart_heating/frontend/src/components/area/HistoryMigrationControls.test.tsx
  smart_heating/frontend/src/components/area/HysteresisHelpModal.test.tsx
  smart_heating/frontend/src/components/area/OutdoorSensorControls.test.tsx
  smart_heating/frontend/src/components/area/SensorConfigDialog.test.tsx
  smart_heating/frontend/src/components/common/DraggableSettings.test.tsx
  smart_heating/frontend/src/components/common/HistoricalComparisons.test.tsx
  smart_heating/frontend/src/components/common/MobileSettingsLayout.test.tsx
  smart_heating/frontend/src/components/common/SettingsLayout.test.tsx
  smart_heating/frontend/src/components/global/DeviceLogsPanel.test.tsx
  smart_heating/frontend/src/components/global/SafetySensorConfigDialog.test.tsx
  smart_heating/frontend/src/components/global/SafetySensorConfigDialog.tsx
  smart_heating/frontend/src/components/global/UserManagement.test.tsx
  smart_heating/frontend/src/components/global/VacationModeBanner.test.tsx
  smart_heating/frontend/src/components/global/VacationModeSettings.test.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/pages/area/common/AreaHistoryAndLogs.tsx
  smart_heating/frontend/src/pages/area/common/AreaSettingsSections.test.tsx
  smart_heating/frontend/src/pages/area/common/AreaSettingsSections.tsx
  smart_heating/frontend/src/pages/area/common/DeviceStatus.test.tsx
  smart_heating/frontend/src/pages/area/common/DeviceStatus.tsx
  smart_heating/frontend/src/pages/area/common/TabPanel.test.tsx
  smart_heating/frontend/src/pages/area/common/TabPanel.tsx
  smart_heating/frontend/src/pages/area/common/entityUtils.test.ts
  smart_heating/frontend/src/pages/area/common/entityUtils.ts
  smart_heating/frontend/src/pages/area/common/utils.ts
Due: eslint, prettier, tsc

Re-implemented Changes ✅
  smart_heating/__init__.py
  smart_heating/const.py
  smart_heating/features/learning_engine.py
Due: ruff, ruff-format

Re-implemented Changes ✅ (#100)
  smart_heating/__init__.py
  smart_heating/const.py
  smart_heating/features/learning_engine.py
Due: ruff, ruff-format

make sure to include event store
  smart_heating/storage/event_store.py
Due: ruff, ruff-format

a
  tests/unit/test_learning_engine.py
Due: ruff, ruff-format

a (#102)
  tests/unit/test_learning_engine.py
Due: ruff, ruff-format

fix(learning): clarify skipped heating event log with specific failing reason(s)
  smart_heating/features/learning_engine.py
  tests/unit/test_learning_engine.py
Due: ruff, ruff-format

docs(changelog): add entry for learning engine log clarity (PR #103)
  CHANGELOG.md
  CHANGELOG.nl.md
Due: none

fix(frontend): align AreaDetail displayed temperature with ZoneCard and add test
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/frontend/src/pages/AreaDetail.test.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix(learning): clarify skipped heating event log (#103)
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/features/learning_engine.py
  tests/unit/test_learning_engine.py
Due: ruff, ruff-format

fix(frontend): align AreaDetail displayed temperature with ZoneCard and add test (#104)
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/frontend/src/pages/AreaDetail.test.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix: use timezone-aware datetimes and fix weather-detection retry scheduling; add tests
  smart_heating/core/area_manager.py
  smart_heating/features/learning_engine.py
  smart_heating/models/device_event.py
  tests/unit/test_area_manager_device_events.py
  tests/unit/test_area_manager_listeners.py
  tests/unit/test_area_manager_logs_api.py
  tests/unit/test_learning_engine.py
  tests/unit/test_models_device_event.py
Due: ruff, ruff-format

fix: use timezone-aware datetimes and fix weather-detection retry scheduling; add tests (#105)
  smart_heating/core/area_manager.py
  smart_heating/features/learning_engine.py
  smart_heating/models/device_event.py
  tests/unit/test_area_manager_device_events.py
  tests/unit/test_area_manager_listeners.py
  tests/unit/test_area_manager_logs_api.py
  tests/unit/test_learning_engine.py
  tests/unit/test_models_device_event.py
Due: ruff, ruff-format

fix(frontend): resolve ESLint warnings and test noise; normalize ZoneCard temps; avoid nested DOM in DevicePanel; add i18n test mock
  smart_heating/frontend/src/components/DevicePanel.tsx
  smart_heating/frontend/src/components/OpenThermLogger.tsx
  smart_heating/frontend/src/components/TrvConfigDialog.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/tests/setup.ts
Due: eslint, prettier, tsc

test: add unit tests for history and event store, and additional helper/PWM tests
  tests/unit/test_api_handlers_logs.py
  tests/unit/test_device_event_model.py
  tests/unit/test_event_store.py
  tests/unit/test_heating_curve.py
  tests/unit/test_history_tracker.py
  tests/unit/test_learning_engine_helpers.py
  tests/unit/test_pwm.py
  tests/unit/test_sensor_import.py
  tests/unit/test_setpoint_adjuster.py
Due: ruff, ruff-format

fix(frontend): resolve ESLint warnings and test noise; normalize ZoneCard temps; avoid nested DOM in DevicePanel; add i18n test mock (#106)
  smart_heating/frontend/src/components/DevicePanel.tsx
  smart_heating/frontend/src/components/OpenThermLogger.tsx
  smart_heating/frontend/src/components/TrvConfigDialog.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/tests/setup.ts
Due: eslint, prettier, tsc

fix(frontend): reapply frontend fixes on top of 96ebeeb5 base (#107)
  tests/unit/test_api_handlers_logs.py
  tests/unit/test_device_event_model.py
  tests/unit/test_event_store.py
  tests/unit/test_heating_curve.py
  tests/unit/test_history_tracker.py
  tests/unit/test_learning_engine_helpers.py
  tests/unit/test_pwm.py
  tests/unit/test_sensor_import.py
  tests/unit/test_setpoint_adjuster.py
Due: ruff, ruff-format

fix: restore LearningEngine and AreaManager device logging (tests)
  scripts/deploy_production.sh
  scripts/setup_test.sh
  smart_heating/core/area_manager.py
  smart_heating/features/learning_engine.py
Due: ruff, ruff-format

chore(docs): add CHANGELOG entry and note about restoring LearningEngine & device logs (PR #108)
  CHANGELOG.md
  CHANGELOG.nl.md
  docs/en/DEVELOPER.md
  docs/nl/DEVELOPER.md
Due: none

fix: restore LearningEngine & AreaManager device logging (#108)
  CHANGELOG.md
  CHANGELOG.nl.md
  docs/en/DEVELOPER.md
  docs/nl/DEVELOPER.md
  scripts/deploy_production.sh
  scripts/setup_test.sh
  smart_heating/core/area_manager.py
  smart_heating/features/learning_engine.py
Due: ruff, ruff-format

chore: add storage_helpers validation + tests; ruff format
  docs/DEVELOPER.md
  smart_heating/__init__.py
  smart_heating/api/websocket.py
  smart_heating/config_flow.py
  smart_heating/storage/history.py
  smart_heating/storage_helpers.py
  tests/unit/test_storage_helpers.py
  tests/unit/test_storage_helpers_db_drop.py
  tests/unit/test_uninstall.py
Due: ruff, ruff-format

fix: use relative imports in unload to avoid ModuleNotFoundError during uninstall
  smart_heating/__init__.py
Due: ruff, ruff-format

test: add websocket and history unit tests; adjust storage drop test
  smart_heating/storage_helpers.py
  tests/unit/test_history_helpers.py
  tests/unit/test_storage_helpers_db_drop.py
  tests/unit/test_websocket_helpers.py
Due: ruff, ruff-format
