Repository TheFlexican/smart-heating: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, eslint, prettier, tsc

ruff:
  name: ruff (lint)
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff check smart_heating --select E,F,C || true'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff format --quiet "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd smart_heating/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd smart_heating/frontend && npm run format'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript Check
  entry: bash -c 'cd smart_heating/frontend && npm run type-check'
  language: system
  pass_filenames: false

fix(frontend): coerce area.enabled to boolean to prevent disabled areas showing active (#13)
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix(frontend): coerce area.enabled to boolean to prevent disabled areas showing active (#13)
  smart_heating/frontend/src/components/ZoneCard.tsx
Due: eslint, prettier, tsc

fix(frontend): restore full AreaDetail content and coerce area.enabled to boolean (#13)
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix(frontend): coerce enabled value and merge ZoneCard tests (#13)
  smart_heating/frontend/src/components/ZoneCard.test.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

style(frontend): format files after AreaDetail cleanup
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix(frontend): coerce area.enabled to boolean to prevent disabled areas showing active (#13) (#68)
  smart_heating/frontend/src/components/ZoneCard.test.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

test(frontend): add test for removing zones deleted on backend
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/frontend/src/utils/__tests__/areaOrder.test.ts
  smart_heating/frontend/src/utils/areaOrder.ts
Due: eslint, prettier, tsc

fix(frontend): preserve area order on websocket updates (#13) (#69)
  .gitignore
  CHANGELOG.md
  CHANGELOG.nl.md
  scripts/wait-15s.sh
  smart_heating/frontend/src/App.tsx
  smart_heating/frontend/src/utils/__tests__/areaOrder.test.ts
  smart_heating/frontend/src/utils/areaOrder.ts
Due: eslint, prettier, tsc

fix(frontend): disable manual-override when area is disabled; add test
  smart_heating/frontend/src/components/ZoneCard.test.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
Due: eslint, prettier, tsc

docs: add PR summary for disable manual override fix
  docs/pull_request_templates/disable-manual-override-summary.md
Due: none

chore(pr): update PR description for disable manual override fix
  docs/pull_request_templates/disable-manual-override-summary.md
Due: none

docs(pr): PR description for disable manual override fix
  docs/pull_request_templates/disable-manual-override-summary.md
Due: none

chore(pr): create PR body file
  PULL_REQUEST_BODY.md
Due: none

chore(pr): PR description for GitHub PR creation
  PULL_REQUEST_BODY.md
Due: none

chore(pr): prepare PR creation metadata
  PULL_REQUEST_METADATA.json
Due: none

chore(pr): write PR creation payload
  PULL_REQUEST_PAYLOAD.json
Due: none

fix(frontend): disable manual override when area is disabled; add tests (#13)
  PULL_REQUEST_DESCRIPTION.md
Due: none

chore(pr): description for PR closing #13
  PR_DESCRIPTION.md
Due: none

chore(pr): attach PR description file
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(pr): body and automatic issue close for #13
  PR_DESCRIPTION.md
Due: none

PR description for GitHub UI
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Add PR body
  PR_BODY.md
Due: none

removed copilot generated documentation
  .github/PULL_REQUEST_TEMPLATE.md
  PR_BODY.md
  PR_DESCRIPTION.md
  PULL_REQUEST_BODY.md
  PULL_REQUEST_DESCRIPTION.md
  PULL_REQUEST_METADATA.json
  PULL_REQUEST_PAYLOAD.json
  docs/pull_request_templates/disable-manual-override-summary.md
Due: none

Remove redundant guard condition in ZoneCard manual override toggle (#71)
  smart_heating/frontend/src/components/ZoneCard.tsx
Due: eslint, prettier, tsc

Bugfix/13 disabled area active fresh (#70)
  smart_heating/frontend/src/components/ZoneCard.test.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
Due: eslint, prettier, tsc

test: add interaction verification to disabled manual override switch test (#72)
  smart_heating/frontend/src/components/ZoneCard.test.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
Due: eslint, prettier, tsc

feat(frontend): add Device Logs UI and translations
  docs/en/DEVELOPER.md
  docs/nl/DEVELOPER.md
  smart_heating/advanced_metrics_collector.py
  smart_heating/frontend/src/components/DeviceLogsPanel.test.tsx
  smart_heating/frontend/src/components/DeviceLogsPanel.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/GlobalSettings.tsx
  tests/unit/test_advanced_metrics_thermostat_failures.py
Due: ruff, ruff-format, eslint, prettier, tsc

test(frontend): fix DeviceLogsPanel test import to work with vitest ESM
  smart_heating/frontend/src/components/DeviceLogsPanel.test.tsx
Due: eslint, prettier, tsc

refactor: add type hints, docstrings, logging per Copilot review
  smart_heating/api.py
  smart_heating/coordinator.py
  smart_heating/ha_services/schedule_handlers.py
Due: ruff, ruff-format

fix(climate): add device control backoff and AC 0.5°C rounding (#73)
  docs/en/DEVELOPER.md
  docs/nl/DEVELOPER.md
  smart_heating/advanced_metrics_collector.py
  smart_heating/api.py
  smart_heating/coordinator.py
  smart_heating/frontend/src/components/DeviceLogsPanel.test.tsx
  smart_heating/frontend/src/components/DeviceLogsPanel.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/GlobalSettings.tsx
  smart_heating/ha_services/schedule_handlers.py
  tests/unit/test_advanced_metrics_thermostat_failures.py
Due: ruff, ruff-format, eslint, prettier, tsc

TRV only commit
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/climate_handlers/device_control.py
  smart_heating/climate_handlers/protection.py
  smart_heating/ha_services/area_handlers.py
  tests/unit/test_climate_handlers_device_control.py
  tests/unit/test_ha_services_areas.py
  tests/unit/test_protection_handler.py
Due: ruff, ruff-format

feat: device capability discovery & TRV/schedule/UI fixes
  CHANGELOG.md
  CHANGELOG.nl.md
  plan-deviceCapabilityDiscovery.prompt.md
  smart_heating/__init__.py
  smart_heating/api_handlers/areas.py
  smart_heating/climate_controller.py
  smart_heating/climate_handlers/device_control.py
  smart_heating/device_capability_detector.py
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/ha_services/device_handlers.py
  smart_heating/models/schedule.py
  tests/unit/test_device_capability_detector.py
Due: ruff, ruff-format, eslint, prettier, tsc

chore: demote non-actionable warnings to debug/info to reduce log noise
  smart_heating/advanced_metrics_collector.py
  smart_heating/api_handlers/areas.py
  smart_heating/api_handlers/config.py
  smart_heating/api_handlers/devices.py
  smart_heating/api_handlers/schedules.py
  smart_heating/area_manager.py
  smart_heating/climate_handlers/temperature_sensors.py
  smart_heating/device_capability_detector.py
  smart_heating/history.py
  smart_heating/models/area.py
  smart_heating/opentherm_logger.py
  smart_heating/overshoot_protection.py
  smart_heating/safety_monitor.py
Due: ruff, ruff-format

chore: demote more non-actionable warnings to info/debug (coordinator, learning_engine, safety monitor, device control)
  scripts/deploy_production.sh
  smart_heating/climate_handlers/device_control.py
  smart_heating/coordinator.py
  smart_heating/learning_engine.py
  smart_heating/safety_monitor.py
Due: ruff, ruff-format

fix: backend TRV/manual override test failures, Ruff lint/test clean, frontend tests pass
  smart_heating/__init__.py
  smart_heating/api.py
  smart_heating/api_handlers/areas.py
  smart_heating/climate_handlers/device_control.py
  smart_heating/device_capability_detector.py
  smart_heating/frontend/src/utils/areaOrder.test.ts
  smart_heating/ha_services/area_handlers.py
  smart_heating/ha_services/schedule_handlers.py
  tests/unit/test_device_capability_detector.py
Due: ruff, ruff-format, eslint, prettier, tsc

feat: device capability discovery & TRV/schedule/UI fixes (#74)
  CHANGELOG.md
  CHANGELOG.nl.md
  plan-deviceCapabilityDiscovery.prompt.md
  scripts/deploy_production.sh
  smart_heating/__init__.py
  smart_heating/advanced_metrics_collector.py
  smart_heating/api.py
  smart_heating/api_handlers/areas.py
  smart_heating/api_handlers/config.py
  smart_heating/api_handlers/devices.py
  smart_heating/api_handlers/schedules.py
  smart_heating/area_manager.py
  smart_heating/climate_controller.py
  smart_heating/climate_handlers/device_control.py
  smart_heating/climate_handlers/protection.py
  smart_heating/climate_handlers/temperature_sensors.py
  smart_heating/coordinator.py
  smart_heating/device_capability_detector.py
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/utils/areaOrder.test.ts
  smart_heating/ha_services/area_handlers.py
  smart_heating/ha_services/device_handlers.py
  smart_heating/ha_services/schedule_handlers.py
  smart_heating/history.py
  smart_heating/learning_engine.py
  smart_heating/models/area.py
  smart_heating/models/schedule.py
  smart_heating/opentherm_logger.py
  smart_heating/overshoot_protection.py
  smart_heating/safety_monitor.py
  tests/unit/test_climate_handlers_device_control.py
  tests/unit/test_device_capability_detector.py
  tests/unit/test_ha_services_areas.py
  tests/unit/test_protection_handler.py
Due: ruff, ruff-format, eslint, prettier, tsc

chore: apply ruff format
  smart_heating/climate_handlers/device_control.py
  smart_heating/climate_handlers/heating_cycle.py
  tests/unit/test_climate_controller_extended.py
  tests/unit/test_climate_handlers_device_control.py
Due: ruff, ruff-format

chore: apply ruff format (#75)
  smart_heating/climate_handlers/device_control.py
  smart_heating/climate_handlers/heating_cycle.py
  tests/unit/test_climate_controller_extended.py
  tests/unit/test_climate_handlers_device_control.py
Due: ruff, ruff-format

style: format with ruff
  .github/agents/home-assistant-integration.agent.md
  CHANGELOG.md
  CHANGELOG.nl.md
  plan-deviceCapabilityDiscovery.prompt.md
  smart_heating/history.py
  tests/unit/test_history_database_paths.py
Due: ruff, ruff-format

style: format with ruff (#76)
  .github/agents/home-assistant-integration.agent.md
  CHANGELOG.md
  CHANGELOG.nl.md
  plan-deviceCapabilityDiscovery.prompt.md
  smart_heating/history.py
  tests/unit/test_history_database_paths.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  eslint: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
  prettier: any of: smart_heating/frontend/src/.*\.(ts|tsx|json|css|md)$
  tsc: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
