Repository TheFlexican/smart-heating: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, eslint, prettier, tsc

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      # Run the linter
      - id: ruff
        name: ruff (lint)
        entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff check smart_heating --select E,F,C || true'
        language: system
        types: [python]
        pass_filenames: false
      # Run the formatter (no-ops if unchanged)
      - id: ruff-format
        name: ruff format
        entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff format --quiet "$@"' --
        language: system
        types: [python]
        pass_filenames: true

  # Use Ruff as the single Python lint + formatting tool to avoid toolchain conflicts
  # Ruff hooks (check and format) are already present above as 'ruff' and 'ruff-format'.
  # Keep only ruff-based checks here for Python to ensure local commits match CI.

  - repo: local
    hooks:
      # Frontend ESLint
      - id: eslint
        name: ESLint
        entry: bash -c 'cd smart_heating/frontend && npm run lint:fix'
        language: system
        files: 'smart_heating/frontend/src/.*\.(ts|tsx)$'
        pass_filenames: false
      # Frontend Prettier
      - id: prettier
        name: Prettier
        entry: bash -c 'cd smart_heating/frontend && npm run format'
        language: system
        files: 'smart_heating/frontend/src/.*\.(ts|tsx|json|css|md)$'
        pass_filenames: false
      # Frontend TypeScript checking
      - id: tsc
        name: TypeScript Check
        entry: bash -c 'cd smart_heating/frontend && npm run type-check'
        language: system
        files: 'smart_heating/frontend/src/.*\.(ts|tsx)$'
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

test: add PreviewDialog tests to increase coverage for import/export flow
  smart_heating/frontend/src/components/ImportExportPreviewDialog.test.tsx
Due: eslint, prettier, tsc

fix: clarify comment to avoid flagged commented-out code (S125)
  smart_heating/__init__.py
Due: ruff, ruff-format

fix(api): remove redundant exception classes (S5713) in area settings handlers
  smart_heating/api/handlers/area_settings.py
Due: ruff, ruff-format

fix(services): keep area_manager parameter for compatibility and mark as intentionally unused (S1172)
  smart_heating/services/area_handlers.py
Due: ruff, ruff-format

test(frontend): add tests for EfficiencyReports and OpenThermLogger; fix tests and remove duplicate files; fix sonar issues in UI and backend
  smart_heating/frontend/src/components/EfficiencyReports.test.tsx
Due: eslint, prettier, tsc

test: add unit tests for area service handlers and EfficiencyReports branches
  smart_heating/frontend/src/components/EfficiencyReports.test.tsx
  tests/unit/test_services_area_handlers.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix: SonarQube fixes & tests for import/export and area services (#167)
  smart_heating/__init__.py
  smart_heating/api/handlers/area_settings.py
  smart_heating/frontend/src/components/AreaDetail/AreaLearningTab.tsx
  smart_heating/frontend/src/components/EfficiencyReports.test.tsx
  smart_heating/frontend/src/components/EfficiencyReports.tsx
  smart_heating/frontend/src/components/ExportButton.test.tsx
  smart_heating/frontend/src/components/ImportButton.test.tsx
  smart_heating/frontend/src/components/ImportExportNotifications.test.tsx
  smart_heating/frontend/src/components/ImportExportPreviewDialog.test.tsx
  smart_heating/frontend/src/components/OpenThermLogger.tsx
  smart_heating/services/area_handlers.py
  tests/unit/test_services_area_handlers.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(services): mark unused area_manager param as _area_manager to satisfy Sonar S1172
  smart_heating/services/area_handlers.py
Due: ruff, ruff-format

fix(ui): avoid array index in keys for AreaLogsTab
  smart_heating/frontend/src/components/AreaDetail/AreaLogsTab.tsx
Due: eslint, prettier, tsc

fix(ui): use stable row keys and avoid index in OpenThermLogger; fix JSX syntax
  smart_heating/frontend/src/components/OpenThermLogger.tsx
Due: eslint, prettier, tsc

fix(ui): avoid index-based keys and use stable row keys in OpenThermLogger
  smart_heating/frontend/src/components/OpenThermLogger.tsx
Due: eslint, prettier, tsc

fix: Sonar - remove redundant exceptions + avoid array index keys + improve types
  smart_heating/core/services/area_service.py
  smart_heating/frontend/src/components/AreaDetail/AreaLearningTab.tsx
Due: ruff, ruff-format, eslint, prettier, tsc

fix(services): accept area_manager kw arg + remove syntax typo in disable handler
  smart_heating/services/area_handlers.py
Due: ruff, ruff-format

fix: SonarQube - remaining issues (start) (#168)
  smart_heating/core/services/area_service.py
  smart_heating/frontend/src/components/AreaDetail/AreaLearningTab.tsx
  smart_heating/frontend/src/components/AreaDetail/AreaLogsTab.tsx
  smart_heating/frontend/src/components/OpenThermLogger.tsx
  smart_heating/services/area_handlers.py
Due: ruff, ruff-format, eslint, prettier, tsc

Fixed errors in the area handlers
  smart_heating/services/area_handlers.py
Due: ruff, ruff-format

Fixed errors in the area handlers (#169)
  smart_heating/services/area_handlers.py
Due: ruff, ruff-format

fix: remove unnecessary list() in DeviceService (sonar: S7504); update SONAR_OPEN_ISSUES.md
  SONAR_OPEN_ISSUES.md
  smart_heating/core/services/device_service.py
Due: ruff, ruff-format

fix: use nullish coalescing in HeatingCurveControl (sonar: S6606); update SONAR_OPEN_ISSUES.md
  SONAR_OPEN_ISSUES.md
  smart_heating/frontend/src/components/AreaDetail/HeatingCurveControl.tsx
Due: eslint, prettier, tsc

fix(frontend): remove unnecessary type assertions in TRV dialogs and schedule dialog (sonar: S4325,S7735)
  SONAR_OPEN_ISSUES.md
  smart_heating/frontend/src/components/AreaDetail/TrvList.tsx
  smart_heating/frontend/src/components/ScheduleEntryDialog.tsx
  smart_heating/frontend/src/components/TrvConfigDialog.tsx
Due: eslint, prettier, tsc

fix(frontend): extract nested ternary in SafetySensorConfigDialog (sonar: S3358); update SONAR_OPEN_ISSUES.md
  SONAR_OPEN_ISSUES.md
  smart_heating/frontend/src/components/SafetySensorConfigDialog.tsx
Due: eslint, prettier, tsc

fix(frontend): extract nested ternary in DraggableSettings (sonar: S3358); update SONAR_OPEN_ISSUES.md
  SONAR_OPEN_ISSUES.md
  smart_heating/frontend/src/components/DraggableSettings.tsx
Due: eslint, prettier, tsc

SonarQube finding fixes
  smart_heating/__init__.py
  smart_heating/const.py
  smart_heating/core/services/device_service.py
  smart_heating/models/device_event.py
Due: ruff, ruff-format

Fix/sonar open issues (#170)
  SONAR_OPEN_ISSUES.md
  smart_heating/__init__.py
  smart_heating/const.py
  smart_heating/core/services/device_service.py
  smart_heating/frontend/src/components/AreaDetail/HeatingCurveControl.tsx
  smart_heating/frontend/src/components/AreaDetail/TrvList.tsx
  smart_heating/frontend/src/components/DraggableSettings.tsx
  smart_heating/frontend/src/components/SafetySensorConfigDialog.tsx
  smart_heating/frontend/src/components/ScheduleEntryDialog.tsx
  smart_heating/frontend/src/components/TrvConfigDialog.tsx
  smart_heating/models/device_event.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(storage): remove redundant json.JSONDecodeError from except (Sonar S5713)
  SONAR_OPEN_ISSUES.md
  smart_heating/storage/history.py
Due: ruff, ruff-format

fix(core): use inspect.iscoroutinefunction and avoid unnecessary list() copy (Sonar S7504, deprecation)
  smart_heating/core/services/device_service.py
Due: ruff, ruff-format

fix(frontend): mark HysteresisHelpModal props readonly (Sonar S6759)
  smart_heating/frontend/src/components/HysteresisHelpModal.tsx
Due: eslint, prettier, tsc

fix(frontend): simplify conditions in TrvList to avoid negated checks (Sonar S7735)
  SONAR_OPEN_ISSUES.md
  smart_heating/frontend/src/components/AreaDetail/TrvList.tsx
Due: eslint, prettier, tsc

docs: update SONAR_OPEN_ISSUES.md statuses for recent fixes (dialogs, safety, draggable)
  SONAR_OPEN_ISSUES.md
Due: none

fix(frontend): settings section - use ?? and simplify toggle (Sonar S6606, S7735); docs: update SONAR_OPEN_ISSUES statuses
  SONAR_OPEN_ISSUES.md
  smart_heating/frontend/src/components/SettingsSection.tsx
Due: eslint, prettier, tsc

docs: mark heating curve and async_register_panel Sonar issues closed
  SONAR_OPEN_ISSUES.md
Due: none

fix(frontend): remove unnecessary 'as any' casts in EfficiencyReports (Sonar S4325)
  smart_heating/frontend/src/components/EfficiencyReports.tsx
Due: eslint, prettier, tsc

chore: merge PR #171 — SonarQube fixes (squashed)
  SONAR_OPEN_ISSUES.md
  smart_heating/core/services/device_service.py
  smart_heating/frontend/src/components/AreaDetail/TrvList.tsx
  smart_heating/frontend/src/components/EfficiencyReports.tsx
  smart_heating/frontend/src/components/HysteresisHelpModal.tsx
  smart_heating/frontend/src/components/SettingsSection.tsx
  smart_heating/storage/history.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(frontend): SensorConfigDialog - remove redundant fragment and type Select onChange (Sonar S4325, S6749)
  smart_heating/frontend/src/components/SensorConfigDialog.tsx
Due: eslint, prettier, tsc

fix(frontend): VacationModeSettings - remove TODO and invert condition (Sonar S1135, S7735)
  smart_heating/frontend/src/components/VacationModeSettings.tsx
Due: eslint, prettier, tsc

frontend changes
  .github/agents/bugfix.agent.md
  .github/agents/home-assistant-integration.agent.md
  .github/agents/typescript-testing.agent.md
  smart_heating/frontend/src/App.tsx
  smart_heating/frontend/src/api/opentherm.ts
  smart_heating/frontend/src/components/AdvancedMetricsDashboard.tsx
  smart_heating/frontend/src/components/GlobalSettings/OpenThermSettings.tsx
  smart_heating/frontend/src/components/Header.tsx
  smart_heating/frontend/src/components/MobileBottomNav.tsx
  smart_heating/frontend/src/components/OpenThermMetrics.test.tsx
  smart_heating/frontend/src/components/OpenThermMetrics.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/pages/AnalyticsMenu.tsx
Due: eslint, prettier, tsc

Proactive Maintenance
  scripts/deploy_production.sh
  smart_heating/api/handlers/opentherm.py
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/const.py
  smart_heating/core/coordination/state_builder.py
  smart_heating/core/coordination/temperature_tracker.py
  smart_heating/core/coordinator.py
  smart_heating/features/learning_engine.py
  smart_heating/features/proactive_maintenance.py
  smart_heating/features/scheduler.py
  smart_heating/frontend/src/api/areas.ts
  smart_heating/frontend/src/components/AreaDetail/NightBoostSection.tsx
  smart_heating/frontend/src/components/AreaDetail/ProactiveMaintenanceSection.tsx
  smart_heating/frontend/src/components/AreaDetail/SmartNightBoostSection.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/types.ts
  smart_heating/models/area_boost_manager.py
  smart_heating/services/schedule_handlers.py
  smart_heating/services/schemas.py
  smart_heating/utils/response_builders.py
  tests/unit/core/coordination/test_temperature_tracker.py
  tests/unit/features/__init__.py
  tests/unit/features/test_proactive_maintenance.py
  tests/unit/test_api_handlers_opentherm.py
  tests/unit/test_coordinator.py
  tests/unit/test_opentherm_handler.py
Due: ruff, ruff-format, eslint, prettier, tsc

websocket updates, ui updates
  CHANGELOG.md
  smart_heating/features/proactive_maintenance.py
  smart_heating/features/scheduler.py
  smart_heating/frontend/src/components/AreaDetail/ProactiveMaintenanceSection.tsx
  smart_heating/frontend/src/components/Header.tsx
  smart_heating/frontend/src/components/MobileBottomNav.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/components/ZoneList.tsx
  smart_heating/frontend/src/hooks/useWebSocket.test.tsx
  smart_heating/frontend/src/hooks/useWebSocket.ts
  smart_heating/frontend/src/index.css
  smart_heating/frontend/src/theme.ts
  smart_heating/heating_curve.py
Due: ruff, ruff-format, eslint, prettier, tsc

Refactor/frontend (#174)
  CHANGELOG.md
  smart_heating/features/proactive_maintenance.py
  smart_heating/features/scheduler.py
  smart_heating/frontend/src/components/AreaDetail/ProactiveMaintenanceSection.tsx
  smart_heating/frontend/src/components/Header.tsx
  smart_heating/frontend/src/components/MobileBottomNav.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/components/ZoneList.tsx
  smart_heating/frontend/src/hooks/useWebSocket.test.tsx
  smart_heating/frontend/src/hooks/useWebSocket.ts
  smart_heating/frontend/src/index.css
  smart_heating/frontend/src/theme.ts
  smart_heating/heating_curve.py
Due: ruff, ruff-format, eslint, prettier, tsc

multiple changes to back and frontend
  smart_heating/api/handlers/__init__.py
  smart_heating/api/handlers/area_settings.py
  smart_heating/api/handlers/areas.py
  smart_heating/api/handlers/config.py
  smart_heating/api/server.py
  smart_heating/climate/controllers/heating_curve_manager.py
  smart_heating/climate/controllers/pid_controller_manager.py
  smart_heating/climate/device_control.py
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/core/area_manager.py
  smart_heating/core/services/config_service.py
  smart_heating/core/services/persistence_service.py
  smart_heating/frontend/src/api/areas.PidApi.test.ts
  smart_heating/frontend/src/api/areas.ts
  smart_heating/frontend/src/components/AreaDetail/PidControlSection.tsx
  smart_heating/frontend/src/components/GlobalSettings/AdvancedSettings.tsx
  smart_heating/frontend/src/components/Header.tsx
  smart_heating/frontend/src/components/ZoneCard.PidBadge.test.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/pages/GlobalSettings.NoPid.test.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
  smart_heating/frontend/src/types.Pid.test.ts
  smart_heating/frontend/src/types.ts
  smart_heating/models/area.py
  smart_heating/pid.py
  tests/unit/test_area_manager.py
  tests/unit/test_area_pid_api.py
  tests/unit/test_climate_controller.py
  tests/unit/test_climate_controller_extended.py
  tests/unit/test_device_control_handler.py
  tests/unit/test_heating_curve.py
  tests/unit/test_heating_curve_more.py
  tests/unit/test_models_area.py
  tests/unit/test_pid.py
  tests/unit/test_pid_controller_manager.py
Due: ruff, ruff-format, eslint, prettier, tsc
