Repository TheFlexican/smart-heating: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, eslint, prettier, tsc

ruff:
  name: ruff (lint)
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff check smart_heating --select E,F,C || true'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff format --quiet "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd smart_heating/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd smart_heating/frontend && npm run format'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript Check
  entry: bash -c 'cd smart_heating/frontend && npm run type-check'
  language: system
  pass_filenames: false

fix(async): use minimal awaits in placeholder async functions to satisfy S7503; reference TODO in issue #47
  smart_heating/api.py
  smart_heating/climate_controller.py
  smart_heating/learning_engine.py
  smart_heating/websocket.py
Due: ruff, ruff-format

chore: small cleanup — remove unnecessary list(...keys()) uses (S7504)
  smart_heating/api_handlers/areas.py
  smart_heating/climate.py
Due: ruff, ruff-format

docs(changelog): note restore-backup test fix and passing pytests
  CHANGELOG.md
Due: none

more fixes
  .github/agents/sonarqube.agent.md
  CHANGELOG.md
  smart_heating/api.py
  smart_heating/api_handlers/areas.py
  smart_heating/api_handlers/import_export.py
  smart_heating/climate.py
  smart_heating/climate_handlers/device_control.py
  smart_heating/ha_services/diagnostic_handlers.py
  smart_heating/ha_services/schedule_handlers.py
  smart_heating/learning_engine.py
  smart_heating/models/schedule.py
  smart_heating/scheduler.py
  smart_heating/websocket.py
Due: ruff, ruff-format

Revert "more fixes"
  .github/agents/sonarqube.agent.md
  CHANGELOG.md
  smart_heating/api.py
  smart_heating/api_handlers/areas.py
  smart_heating/api_handlers/import_export.py
  smart_heating/climate.py
  smart_heating/climate_handlers/device_control.py
  smart_heating/ha_services/diagnostic_handlers.py
  smart_heating/ha_services/schedule_handlers.py
  smart_heating/learning_engine.py
  smart_heating/models/schedule.py
  smart_heating/scheduler.py
  smart_heating/websocket.py
Due: ruff, ruff-format

style: ruff formatting applied for NOSONAR changes
  smart_heating/climate_controller.py
  smart_heating/config_manager.py
  smart_heating/coordinator.py
  smart_heating/history.py
  smart_heating/learning_engine.py
  smart_heating/user_manager.py
Due: ruff, ruff-format

style: ruff formatting applied for device control refactor
  smart_heating/climate_handlers/device_control.py
Due: ruff, ruff-format

refactor: reduce cognitive complexity in thermostat heating flow by extracting helpers
  smart_heating/climate_handlers/device_control.py
Due: ruff, ruff-format

fixed frontend tests
  smart_heating/frontend/src/components/HistoryChart.test.tsx
Due: eslint, prettier, tsc

fix: SonarQube - backend Python findings (#50)
  smart_heating/climate_controller.py
  smart_heating/climate_handlers/device_control.py
  smart_heating/config_manager.py
  smart_heating/coordinator.py
  smart_heating/frontend/src/components/HistoryChart.test.tsx
  smart_heating/history.py
  smart_heating/learning_engine.py
  smart_heating/user_manager.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix: refactor diagnostic handler to reduce cognitive complexity (S3776)
  smart_heating/ha_services/diagnostic_handlers.py
Due: ruff, ruff-format

fix: refactor diagnostic handler to reduce cognitive complexity (S3776) (#57)
  smart_heating/ha_services/diagnostic_handlers.py
Due: ruff, ruff-format

fix(areas): extract helpers to reduce cognitive complexity (S3776)
  smart_heating/api_handlers/areas.py
Due: ruff, ruff-format

fix(areas): extract helpers to reduce cognitive complexity (S3776) (#58)
  smart_heating/api_handlers/areas.py
Due: ruff, ruff-format

fix(schedule): normalize day parsing and reduce cognitive complexity (S3776)
  smart_heating/models/schedule.py
Due: ruff, ruff-format

fix(schedule): normalize day parsing and reduce cognitive complexity (S3776) (#59)
  smart_heating/models/schedule.py
Due: ruff, ruff-format

fix(ha_services): simplify async_handle_copy_schedule by extracting helpers (S3776)
  smart_heating/ha_services/schedule_handlers.py
Due: ruff, ruff-format

fix(ha_services): simplify async_handle_copy_schedule by extracting helpers (S3776) (#60)
  smart_heating/ha_services/schedule_handlers.py
Due: ruff, ruff-format

fix(scheduler): extract per-area schedule processing to reduce cognitive complexity (S3776)
  smart_heating/scheduler.py
Due: ruff, ruff-format

fix(scheduler): extract per-area schedule processing to reduce cognitive complexity (S3776) (#61)
  smart_heating/scheduler.py
Due: ruff, ruff-format

fix(areas): extract heating type helpers to reduce cognitive complexity (S3776)
  smart_heating/api_handlers/areas.py
Due: ruff, ruff-format

fix(areas): extract heating type helpers to reduce cognitive complexity (S3776) (#62)
  smart_heating/api_handlers/areas.py
Due: ruff, ruff-format

additional fixes
  smart_heating/api_handlers/areas.py
  smart_heating/ha_services/schedule_handlers.py
  smart_heating/models/schedule.py
  smart_heating/scheduler.py
Due: ruff, ruff-format

fix(areas): remove stray patch marker causing import errors
  smart_heating/api_handlers/areas.py
Due: ruff, ruff-format

feat: implement smart night boost and add tests + changelog entries
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/learning_engine.py
  tests/unit/test_learning_engine.py
Due: ruff, ruff-format

fix(learning): correct unit conversion, add cap and adjust tests for smart night boost
  smart_heating/learning_engine.py
  tests/unit/test_learning_engine.py
Due: ruff, ruff-format

feat: implement smart night boost and add tests (#64)
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/learning_engine.py
  tests/unit/test_learning_engine.py
Due: ruff, ruff-format

fix(area_logger): recognise 'cooling' and 'climate_control' event types to avoid spurious warnings
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/area_logger.py
  tests/unit/test_area_logger.py
Due: ruff, ruff-format

fix(area_logger): recognise 'cooling' and 'climate_control' event types to avoid spurious warnings (#66)
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/area_logger.py
  tests/unit/test_area_logger.py
Due: ruff, ruff-format

fix(frontend): persist Smart Night Boost weather sensor selection across page reloads
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/frontend/src/pages/AreaDetail.test.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix: address Copilot review comments
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

docs(agents): add critical anti-patterns and mandatory SonarQube checks to bugfix agent
  .github/agents/bugfix.agent.md
Due: none

docs(agents): add language-specific anti-patterns and testid guidance
  .github/agents/home-assistant-integration.agent.md
  .github/agents/home-assistant-pytest.agent.md
  .github/agents/playwright-e2e.agent.md
  .github/agents/typescript-react.agent.md
  .github/agents/typescript-testing.agent.md
Due: none

chore: fix linting and add ESLint disable comment
  smart_heating/__init__.py
  smart_heating/climate_handlers/device_control.py
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/ha_services/__init__.py
  smart_heating/ha_services/diagnostic_handlers.py
  smart_heating/utils/coordinator_helpers.py
  tests/unit/test_area_logger.py
  tests/unit/test_diagnostic_handlers.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(frontend): persist Smart Night Boost weather sensor selection across page reloads (#67)
  .github/agents/home-assistant-integration.agent.md
  .github/agents/home-assistant-pytest.agent.md
  .github/agents/playwright-e2e.agent.md
  .github/agents/typescript-react.agent.md
  .github/agents/typescript-testing.agent.md
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/__init__.py
  smart_heating/climate_handlers/device_control.py
  smart_heating/frontend/src/pages/AreaDetail.test.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/ha_services/__init__.py
  smart_heating/ha_services/diagnostic_handlers.py
  smart_heating/utils/coordinator_helpers.py
  tests/unit/test_area_logger.py
  tests/unit/test_diagnostic_handlers.py
Due: ruff, ruff-format, eslint, prettier, tsc

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  eslint: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
  prettier: any of: smart_heating/frontend/src/.*\.(ts|tsx|json|css|md)$
  tsc: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
