Repository TheFlexican/smart-heating: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, eslint, prettier, tsc

ruff:
  name: ruff (lint)
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff check smart_heating --select E,F,C || true'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff format --quiet "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd smart_heating/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd smart_heating/frontend && npm run format'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript Check
  entry: bash -c 'cd smart_heating/frontend && npm run type-check'
  language: system
  pass_filenames: false

fix(climate): prevent repeated HVAC mode commands for AC devices
  smart_heating/climate_handlers/device_control.py
Due: ruff, ruff-format

fix(climate): prevent repeated HVAC mode commands for AC devices (#77)
  smart_heating/climate_handlers/device_control.py
Due: ruff, ruff-format

fix(history): use COUNT(*) instead of rowcount for database stats
  smart_heating/history.py
Due: ruff, ruff-format

fix(history): use COUNT(*) instead of rowcount for database stats (#78)
  smart_heating/history.py
Due: ruff, ruff-format

fix(climate): use trv_idle_temp for TRV thermostats when idle
  smart_heating/climate_handlers/device_control.py
Due: ruff, ruff-format

fix(climate): use trv_idle_temp for TRV thermostats when idle (#79)
  smart_heating/climate_handlers/device_control.py
Due: ruff, ruff-format

added claude agents
  .claude/AGENT_GUIDE.md
  .claude/EXAMPLES.md
  .claude/README.md
  .claude/agents/ha-code-reviewer.md
  .claude/agents/ha-developer.md
  .claude/agents/ha-expert.md
  .claude/agents/ha-scaffolder.md
  .claude/agents/ha-test-generator.md
  .claude/commands/ha-dev.md
  .claude/commands/review-component.md
  .claude/commands/scaffold-component.md
  .claude/commands/test-component.md
Due: none

added claude agents (#80)
  .claude/AGENT_GUIDE.md
  .claude/EXAMPLES.md
  .claude/README.md
  .claude/agents/ha-code-reviewer.md
  .claude/agents/ha-developer.md
  .claude/agents/ha-expert.md
  .claude/agents/ha-scaffolder.md
  .claude/agents/ha-test-generator.md
  .claude/commands/ha-dev.md
  .claude/commands/review-component.md
  .claude/commands/scaffold-component.md
  .claude/commands/test-component.md
Due: none

test: fix all failing tests and frontend linting issues
  smart_heating/frontend/src/components/MobileSettingsLayout.tsx
  smart_heating/frontend/src/components/SettingsLayout.tsx
  smart_heating/frontend/src/hooks/transports.ts
  smart_heating/frontend/src/hooks/useWebSocket.ts
  smart_heating/frontend/src/pages/AnalyticsMenu.tsx
  tests/unit/test_api_error_handling.py
  tests/unit/test_api_exhaustive.py
  tests/unit/test_api_extra_gets.py
  tests/unit/test_api_handlers_import_export.py
  tests/unit/test_api_metrics_and_delete.py
  tests/unit/test_api_post_more.py
  tests/unit/test_api_post_more_branches.py
  tests/unit/test_api_view.py
  tests/unit/test_api_view_all_endpoints.py
  tests/unit/test_api_view_post.py
  tests/unit/test_ui_static_positive.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(ui): make global and area temperature sliders responsive; save on commit, add tests and e2e
  CHANGELOG.nl.md
  smart_heating/frontend/src/components/ZoneCard.test.tsx
  smart_heating/frontend/src/pages/GlobalSettings.test.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
  tests/e2e/tests/global-presets-slider.spec.ts
Due: eslint, prettier, tsc

fix(ui): responsive global & area sliders — save on commit (#82)
  CHANGELOG.nl.md
  smart_heating/frontend/src/components/ZoneCard.test.tsx
  smart_heating/frontend/src/pages/GlobalSettings.test.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
  tests/e2e/tests/global-presets-slider.spec.ts
Due: eslint, prettier, tsc

fix(ui): make area cards non-clickable; add Settings in three-dots menu
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/frontend/src/components/ZoneCard.test.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/components/ZoneCard_extended.test.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/GlobalSettings.test.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
  tests/e2e/tests/area-heating-curve.spec.ts
Due: eslint, prettier, tsc

test: restore GlobalSettings tests and update ZoneCard test
  smart_heating/frontend/src/components/ZoneCard.test.tsx
  smart_heating/frontend/src/pages/GlobalSettings.test.tsx
Due: eslint, prettier, tsc

test: restore GlobalSettings unit tests (#84)
  smart_heating/frontend/src/components/ZoneCard.test.tsx
  smart_heating/frontend/src/pages/GlobalSettings.test.tsx
Due: eslint, prettier, tsc

Added vibe coding statements
  README.md
  README.nl.md
Due: none

working smart boosting
  smart_heating/api/websocket.py
  smart_heating/core/coordinator.py
  smart_heating/features/learning_engine.py
  smart_heating/features/scheduler.py
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/types.ts
  smart_heating/models/area.py
  smart_heating/models/area_schedule_manager.py
  smart_heating/services.yaml
  smart_heating/services/schedule_handlers.py
  smart_heating/services/schemas.py
  smart_heating/storage/config_manager.py
  smart_heating/utils/response_builders.py
  tests/unit/test_coordinator.py
  tests/unit/test_ha_services_schedules.py
  tests/unit/test_learning_engine.py
  tests/unit/test_opentherm_logger_and_ws.py
  tests/unit/test_response_builders.py
  tests/unit/test_scheduler.py
  tests/unit/test_scheduler_executor.py
  tests/unit/test_scheduler_helpers.py
  tests/unit/test_utils_response_builders.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(climate): optimize TRV control with state transitions and offline retry
  smart_heating/climate/climate_controller.py
  smart_heating/climate/devices/thermostat_handler.py
  smart_heating/models/area.py
  smart_heating/models/area_device_manager.py
Due: ruff, ruff-format

fix(frontend): preserve zones overview viewport on small updates; optimistic area patches to avoid list reloads
  CHANGELOG.md
  docs/en/ARCHITECTURE.md
  docs/en/DEVELOPER.md
  docs/nl/ARCHITECTURE.md
  smart_heating/api/handlers/areas.py
  smart_heating/frontend/src/App.tsx
  smart_heating/frontend/src/__tests__/App.scroll.test.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/components/ZoneCard_extended.test.tsx
  smart_heating/frontend/src/components/ZoneList.tsx
  tests/unit/test_api_handlers_areas.py
Due: ruff, ruff-format, eslint, prettier, tsc

chore: remove outgoing WS debug log and keep id autofill
  smart_heating/api/handlers/__init__.py
  smart_heating/api/handlers/logs.py
  smart_heating/api/server.py
  smart_heating/api/websocket.py
  smart_heating/climate/device_control.py
  smart_heating/climate/devices/base_device_handler.py
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/climate/devices/switch_handler.py
  smart_heating/climate/devices/thermostat_handler.py
  smart_heating/climate/devices/valve_handler.py
  smart_heating/core/area_manager.py
  smart_heating/frontend/src/App.tsx
  smart_heating/frontend/src/components/DeviceLogsPanel.tsx
  smart_heating/frontend/src/hooks/useWebSocket.ts
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/DeviceLogsView.tsx
  smart_heating/models/__init__.py
  smart_heating/models/device_event.py
Due: ruff, ruff-format, eslint, prettier, tsc

docs: record PR #87 merge and Device Logs notes
  CHANGELOG.md
  CHANGELOG.nl.md
  docs/en/DEVELOPER.md
  docs/nl/DEVELOPER.md
Due: none

fix(frontend): Device Logs — minutes picker; remove area filter; update tests and translations; backend minutes support
  smart_heating/api/server.py
  smart_heating/climate/devices/switch_handler.py
  smart_heating/core/area_manager.py
  smart_heating/features/advanced_metrics_collector.py
  smart_heating/frontend/src/api/metrics.test.ts
  smart_heating/frontend/src/api/metrics.ts
  smart_heating/frontend/src/api/more_endpoints.test.ts
  smart_heating/frontend/src/components/DeviceLogsPanel.tsx
  smart_heating/frontend/src/locales/nl/translation.json
  tests/run_tests.sh
Due: ruff, ruff-format, eslint, prettier, tsc

fix(api): preserve multiple safety sensors when adding via API
  CHANGELOG.md
  CHANGELOG.nl.md
  smart_heating/api/handlers/config.py
  tests/unit/test_api_handlers_config.py
Due: ruff, ruff-format

fix(safety): use relative import for coordinator_helpers to avoid ModuleNotFoundError
  smart_heating/features/safety_monitor.py
Due: ruff, ruff-format

fix(learning): add retry logic for weather entity detection
  smart_heating/api/handlers/history.py
  smart_heating/climate/heating_cycle.py
  smart_heating/features/learning_engine.py
Due: ruff, ruff-format

fix(learning): add retry logic for weather entity detection (#92)
  smart_heating/api/handlers/history.py
  smart_heating/climate/heating_cycle.py
  smart_heating/features/learning_engine.py
Due: ruff, ruff-format

fix(climate): eliminate TRV battery drain and code duplication
  smart_heating/climate/device_control.py
  smart_heating/climate/devices/thermostat_handler.py
Due: ruff, ruff-format

fix(climate): eliminate TRV battery drain and code duplication (#93)
  smart_heating/climate/device_control.py
  smart_heating/climate/devices/thermostat_handler.py
Due: ruff, ruff-format

All refactoring work from Phases 1-4 is preserved: (#95)
  smart_heating/climate/climate_controller.py
  smart_heating/climate/controllers/heating_curve_manager.py
  smart_heating/climate/device_control.py
  smart_heating/climate/devices/base_device_handler.py
  smart_heating/climate/devices/thermostat_handler.py
  smart_heating/climate/heating_cycle.py
  smart_heating/climate/temperature_sensors.py
  smart_heating/const.py
  smart_heating/features/device_capability_detector.py
  smart_heating/features/learning_engine.py
  smart_heating/services/vacation_handlers.py
  tests/unit/test_climate_controller.py
  tests/unit/test_climate_controller_extended.py
  tests/unit/test_climate_handlers_heating_cycle.py
  tests/unit/test_climate_handlers_temperature_sensors.py
  tests/unit/test_device_control_handler.py
  tests/unit/test_temperature_sensor_handler.py
Due: ruff, ruff-format

- ✅ No more warnings about missing mean_type (#96)
  smart_heating/features/learning_engine.py
Due: ruff, ruff-format

feat(frontend): TRV UI and history plotting (types, API, components, tests, i18n, docs)
  docs/en/DEVELOPER.md
  docs/nl/DEVELOPER.md
  smart_heating/api/handlers/__init__.py
  smart_heating/api/handlers/sensors.py
  smart_heating/api/server.py
  smart_heating/climate/climate_controller.py
  smart_heating/core/coordinator.py
  smart_heating/frontend/src/api/sensors.ts
  smart_heating/frontend/src/components/HistoryChart.test.tsx
  smart_heating/frontend/src/components/HistoryChart.tsx
  smart_heating/frontend/src/components/TrvConfigDialog.tsx
  smart_heating/frontend/src/components/__tests__/TrvConfigDialog.test.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/types.ts
  smart_heating/models/area.py
  smart_heating/storage/history.py
  smart_heating/utils/response_builders.py
  tests/unit/test_history_trv.py
  tests/unit/test_trv_backend.py
Due: ruff, ruff-format, eslint, prettier, tsc

TRV + smart boost updates
  smart_heating/features/learning_engine.py
  smart_heating/frontend/src/api/sensors.ts
  smart_heating/frontend/src/components/CustomTooltip.tsx
  smart_heating/frontend/src/components/HistoryChart.test.tsx
  smart_heating/frontend/src/components/HistoryChart.tsx
  smart_heating/frontend/src/components/TrvConfigDialog.tsx
  smart_heating/frontend/src/components/__tests__/TrvConfigDialog.test.tsx
  smart_heating/frontend/src/pages/AreaDetail.test.tsx
  smart_heating/storage/history.py
  tests/e2e/tests/trv-flow.spec.ts
Due: ruff, ruff-format, eslint, prettier, tsc

feat(frontend): per-area TRV UI & history plotting (#97)
  docs/en/DEVELOPER.md
  docs/nl/DEVELOPER.md
  smart_heating/api/handlers/__init__.py
  smart_heating/api/handlers/sensors.py
  smart_heating/api/server.py
  smart_heating/climate/climate_controller.py
  smart_heating/core/coordinator.py
  smart_heating/features/learning_engine.py
  smart_heating/frontend/src/api/sensors.ts
  smart_heating/frontend/src/components/CustomTooltip.tsx
  smart_heating/frontend/src/components/HistoryChart.test.tsx
  smart_heating/frontend/src/components/HistoryChart.tsx
  smart_heating/frontend/src/components/TrvConfigDialog.tsx
  smart_heating/frontend/src/components/__tests__/TrvConfigDialog.test.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/AreaDetail.test.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/types.ts
  smart_heating/models/area.py
  smart_heating/storage/history.py
  smart_heating/utils/response_builders.py
  tests/e2e/tests/trv-flow.spec.ts
  tests/unit/test_history_trv.py
  tests/unit/test_trv_backend.py
Due: ruff, ruff-format, eslint, prettier, tsc

TRV section updated to allow CRUD actions
  smart_heating/frontend/src/pages/AreaDetail.test.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/models/area.py
Due: ruff, ruff-format, eslint, prettier, tsc

Feature/trv frontend (#98)
  smart_heating/frontend/src/pages/AreaDetail.test.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/models/area.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(frontend): parseInt radix, safe global confirm and hook dependency fixes
  .github/copilot-instructions.md
  .gitignore
  smart_heating/frontend/src/components/TrvConfigDialog.tsx
  smart_heating/frontend/src/components/UserManagement.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix(backend): add exception variables and improve debug logging in handlers
  smart_heating/api/handlers/areas.py
  smart_heating/api/websocket.py
  smart_heating/climate/devices/base_device_handler.py
Due: ruff, ruff-format

chore(frontend): tighten API payload types for areas endpoints
  smart_heating/frontend/src/api/areas.ts
Due: eslint, prettier, tsc

fix(frontend): avoid invalid HTML nesting in DevicePanel ListItemText secondary
  smart_heating/frontend/src/components/DevicePanel.tsx
Due: eslint, prettier, tsc

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  eslint: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
  prettier: any of: smart_heating/frontend/src/.*\.(ts|tsx|json|css|md)$
  tsc: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
