Repository TheFlexican/smart-heating: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, eslint, prettier, tsc

ruff:
  name: ruff (legacy alias)
  entry: bash -c 'source venv/bin/activate && ruff check --fix --unsafe-fixes "$@"' --
  language: system
  pass_filenames: true

ruff-format:
  name: ruff format
  entry: bash -c 'source venv/bin/activate && ruff format "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd smart_heating/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd smart_heating/frontend && npm run format'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript Check
  entry: bash -c 'cd smart_heating/frontend && npm run type-check'
  language: system
  pass_filenames: false

feat: Disable heating controls for air conditioner areas
  package-lock.json
  smart_heating/frontend/package.json
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

feat: Add testids for better E2E and unit test support
  smart_heating/frontend/src/components/OpenThermLogger.tsx
  smart_heating/frontend/src/components/VacationModeBanner.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

feat: Add testids for better E2E and unit test support (#24)
  smart_heating/frontend/src/components/OpenThermLogger.tsx
  smart_heating/frontend/src/components/VacationModeBanner.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix(frontend): resolve ESLint warnings, stabilize hooks, and fix tests/build
  smart_heating/frontend/eslint.config.js
  smart_heating/frontend/src/App.tsx
  smart_heating/frontend/src/api/opentherm.test.ts
  smart_heating/frontend/src/components/AdvancedMetricsDashboard.tsx
  smart_heating/frontend/src/components/EfficiencyReports.tsx
  smart_heating/frontend/src/components/HistoricalComparisons.tsx
  smart_heating/frontend/src/components/HistoryChart.tsx
  smart_heating/frontend/src/components/OpenThermLogger.tsx
  smart_heating/frontend/src/components/ScheduleEditor.tsx
  smart_heating/frontend/src/components/UserManagement.tsx
  smart_heating/frontend/src/components/VacationModeSettings.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/hooks/useWebSocket.test.tsx
  smart_heating/frontend/src/hooks/useWebSocket.ts
  smart_heating/frontend/src/main.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/types.ts
Due: eslint, prettier, tsc

ci: gate frontend/backend CI by changed paths using paths-filter
  .github/workflows/integration.yml
Due: none

ci(pre-commit): run flake8, black check, and isort check locally to match CI
  .pre-commit-config.yaml
Due: none

ci: exclude tests from black and isort checks in backend lint
  .github/workflows/ci.yml
Due: none

chore(dev): add ruff and pre-commit to test requirements
  tests/requirements_test.txt
Due: none

fix(platform): await async_add_entities when it's awaitable to avoid un-awaited coroutine warnings
  smart_heating/climate.py
  smart_heating/sensor.py
  smart_heating/switch.py
Due: ruff, ruff-format

chore: move ruff select/ignore into [tool.ruff.lint] to follow new config format
  pyproject.toml
Due: none

chore(ci): forward secrets to frontend reusable workflow (secrets: inherit)
  .github/workflows/integration.yml
Due: none

Fixed Pylance and SonarQube issues
  .github/workflows/frontend.yml
  pyproject.toml
  smart_heating/advanced_metrics_collector.py
  smart_heating/api.py
  smart_heating/area_manager.py
  smart_heating/climate.py
  smart_heating/climate_controller.py
  smart_heating/config_flow.py
  smart_heating/config_manager.py
  smart_heating/coordinator.py
  smart_heating/ha_services/safety_handlers.py
  smart_heating/history.py
  smart_heating/learning_engine.py
  smart_heating/models/area.py
  smart_heating/models/schedule.py
  smart_heating/opentherm_logger.py
  smart_heating/safety_monitor.py
  smart_heating/scheduler.py
  smart_heating/sensor.py
  smart_heating/switch.py
  smart_heating/utils/coordinator_helpers.py
  smart_heating/websocket.py
Due: ruff, ruff-format

fix: backend - handle async outdoor temp safely, import cleanup, remove accidental e2e helper
  smart_heating/area_manager.py
  smart_heating/config_manager.py
  smart_heating/coordinator.py
  smart_heating/learning_engine.py
  smart_heating/scheduler.py
Due: ruff, ruff-format

feat: Add HVAC mode control for air-conditioned areas
  smart_heating/__init__.py
  smart_heating/api_handlers/areas.py
  smart_heating/api_handlers/config.py
  smart_heating/climate_controller.py
  smart_heating/climate_handlers/device_control.py
  smart_heating/const.py
  smart_heating/frontend/src/api/areas.ts
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/ha_services/__init__.py
  smart_heating/ha_services/diagnostic_handlers.py
  smart_heating/ha_services/schemas.py
  smart_heating/models/area.py
  tests/unit/test_api_handlers_areas.py
  tests/unit/test_climate_controller.py
  tests/unit/test_diagnostic_handlers.py
Due: ruff, ruff-format, eslint, prettier, tsc

feat: Add HVAC mode control for air-conditioned areas (#27)
  smart_heating/__init__.py
  smart_heating/api_handlers/areas.py
  smart_heating/api_handlers/config.py
  smart_heating/climate_controller.py
  smart_heating/climate_handlers/device_control.py
  smart_heating/const.py
  smart_heating/frontend/src/api/areas.ts
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/ha_services/__init__.py
  smart_heating/ha_services/diagnostic_handlers.py
  smart_heating/ha_services/schemas.py
  smart_heating/models/area.py
  tests/unit/test_api_handlers_areas.py
  tests/unit/test_climate_controller.py
  tests/unit/test_diagnostic_handlers.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix: Skip proactive thermostat updates when hvac_mode is off
  smart_heating/api_handlers/areas.py
Due: ruff, ruff-format

fix: Skip proactive thermostat updates when hvac_mode is off (#28)
  smart_heating/api_handlers/areas.py
Due: ruff, ruff-format

docs: Update documentation for AC HVAC mode control feature
  CHANGELOG.md
  CHANGELOG.nl.md
  README.md
  README.nl.md
Due: none

docs: Update documentation for AC HVAC mode control feature (#29)
  CHANGELOG.md
  CHANGELOG.nl.md
  README.md
  README.nl.md
Due: none

fix: Disable hysteresis idle logic for AC/climate areas
  smart_heating/climate_handlers/device_control.py
Due: ruff, ruff-format

test: Add tests for AC hysteresis skip logic
  tests/unit/test_climate_handlers_device_control.py
Due: ruff, ruff-format

feat: Add dynamic legend for AC cooling activity in history chart
  smart_heating/frontend/src/locales/nl/translation.json
Due: prettier

ui: Improve history chart UX
  docs/en/README_AGENTS.md
  smart_heating/frontend/src/components/HistoryChart.test.tsx
  smart_heating/frontend/src/components/HistoryChart.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
Due: eslint, prettier, tsc

test(history): update HistoryChart test to reflect UX changes
  smart_heating/frontend/src/components/HistoryChart.test.tsx
  smart_heating/frontend/src/locales/en/translation.json
Due: eslint, prettier, tsc

fix: Disable hysteresis idle logic for AC/climate areas (#30)
  docs/en/README_AGENTS.md
  smart_heating/climate_handlers/device_control.py
  smart_heating/frontend/src/components/HistoryChart.test.tsx
  smart_heating/frontend/src/components/HistoryChart.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  tests/unit/test_climate_handlers_device_control.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix: remove noisy temperature warnings for missing temperature data
  smart_heating/climate_controller.py
  smart_heating/scheduler.py
Due: ruff, ruff-format

fix: remove noisy temperature warnings for missing temperature data (#31)
  smart_heating/climate_controller.py
  smart_heating/scheduler.py
Due: ruff, ruff-format

refactor: reduce cognitive complexity in diagnostic handler (extract helpers)
  smart_heating/ha_services/diagnostic_handlers.py
Due: ruff, ruff-format

refactor(api_handlers/areas): extract helpers to reduce cognitive complexity (devices/default area, proactive update, heating type, overhead)
  smart_heating/api_handlers/areas.py
Due: ruff, ruff-format

refactor: reduce cognitive complexity in DeviceControlHandler (extract helpers for power switch, hvac mode and temperature updates)
  smart_heating/climate_handlers/device_control.py
Due: ruff, ruff-format

refactor: extract helpers in schedule copy routine to reduce nesting and complexity
  smart_heating/ha_services/schedule_handlers.py
Due: ruff, ruff-format

refactor(schedule): extract day normalization helpers to reduce cognitive complexity (S3776)
  smart_heating/models/schedule.py
Due: ruff, ruff-format

refactor(scheduler): extract per-area processing & fix S1226 (avoid reassigning arg)
  smart_heating/scheduler.py
Due: ruff, ruff-format

fix(async): replace sync file IO with aiofiles in import/export and backup creation (S7493)
  smart_heating/api_handlers/import_export.py
  smart_heating/config_manager.py
Due: ruff, ruff-format

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  eslint: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
  prettier: any of: smart_heating/frontend/src/.*\.(ts|tsx|json|css|md)$
  tsc: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
