Repository TheFlexican/smart-heating: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, eslint, prettier, tsc

ruff:
  name: ruff (lint)
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff check smart_heating --select E,F,C || true'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff format --quiet "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd smart_heating/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd smart_heating/frontend && npm run format'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript Check
  entry: bash -c 'cd smart_heating/frontend && npm run type-check'
  language: system
  pass_filenames: false

Chore/not sure (#175)
  smart_heating/api/handlers/__init__.py
  smart_heating/api/handlers/area_settings.py
  smart_heating/api/handlers/areas.py
  smart_heating/api/handlers/config.py
  smart_heating/api/server.py
  smart_heating/climate/controllers/heating_curve_manager.py
  smart_heating/climate/controllers/pid_controller_manager.py
  smart_heating/climate/device_control.py
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/core/area_manager.py
  smart_heating/core/services/config_service.py
  smart_heating/core/services/persistence_service.py
  smart_heating/frontend/src/api/areas.PidApi.test.ts
  smart_heating/frontend/src/api/areas.ts
  smart_heating/frontend/src/components/AreaDetail/PidControlSection.tsx
  smart_heating/frontend/src/components/GlobalSettings/AdvancedSettings.tsx
  smart_heating/frontend/src/components/Header.tsx
  smart_heating/frontend/src/components/ZoneCard.PidBadge.test.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/locales/en/translation.json
  smart_heating/frontend/src/locales/nl/translation.json
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/pages/GlobalSettings.NoPid.test.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
  smart_heating/frontend/src/types.Pid.test.ts
  smart_heating/frontend/src/types.ts
  smart_heating/models/area.py
  smart_heating/pid.py
  tests/unit/test_area_manager.py
  tests/unit/test_area_pid_api.py
  tests/unit/test_climate_controller.py
  tests/unit/test_climate_controller_extended.py
  tests/unit/test_device_control_handler.py
  tests/unit/test_heating_curve.py
  tests/unit/test_heating_curve_more.py
  tests/unit/test_models_area.py
  tests/unit/test_pid.py
  tests/unit/test_pid_controller_manager.py
Due: ruff, ruff-format, eslint, prettier, tsc

more fixes
  smart_heating/api/server.py
  smart_heating/frontend/src/api/client.ts
  smart_heating/frontend/src/hooks/useWebSocket.ts
  smart_heating/models/area.py
  smart_heating/models/area_schedule_manager.py
  tests/unit/test_models_area.py
Due: ruff, ruff-format, eslint, prettier, tsc

more updates to frontend and backend
  .flake8
  .github/agents/bugfix.agent.md
  SONAR_OPEN_ISSUES.md
  docs/DEVELOPER.md
  pyproject.toml
  scripts/deploy_production.sh
  smart_heating/api/handlers/__init__.py
  smart_heating/api/handlers/config.py
  smart_heating/api/server.py
  smart_heating/climate/climate_controller.py
  smart_heating/core/area_manager.py
  smart_heating/core/services/config_service.py
  smart_heating/core/services/persistence_service.py
  smart_heating/features/proactive_maintenance.py
  smart_heating/frontend/src/App.tsx
  smart_heating/frontend/src/api/devices.test.ts
  smart_heating/frontend/src/api/devices.ts
  smart_heating/frontend/src/components/GlobalSettings/AdvancedSettings.tsx.bak
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/pages/GlobalSettings.tsx
  tests/pyproject.toml
  tests/unit/features/test_proactive_maintenance.py
  tests/unit/test_api_handlers_config.py
  tests/unit/test_api_post_more_branches.py
  tests/unit/test_area_manager.py
Due: ruff, ruff-format, eslint, prettier, tsc

remove backup file
  smart_heating/frontend/src/components/GlobalSettings/AdvancedSettings.tsx.bak
Due: none

Chore/more fixes (#178)
  .flake8
  .github/agents/bugfix.agent.md
  SONAR_OPEN_ISSUES.md
  docs/DEVELOPER.md
  pyproject.toml
  scripts/deploy_production.sh
  smart_heating/api/handlers/__init__.py
  smart_heating/api/handlers/config.py
  smart_heating/api/server.py
  smart_heating/climate/climate_controller.py
  smart_heating/core/area_manager.py
  smart_heating/core/services/config_service.py
  smart_heating/core/services/persistence_service.py
  smart_heating/features/proactive_maintenance.py
  smart_heating/frontend/src/App.tsx
  smart_heating/frontend/src/api/client.ts
  smart_heating/frontend/src/api/devices.test.ts
  smart_heating/frontend/src/api/devices.ts
  smart_heating/frontend/src/components/GlobalSettings/AdvancedSettings.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
  smart_heating/frontend/src/hooks/useWebSocket.ts
  smart_heating/frontend/src/pages/GlobalSettings.tsx
  smart_heating/models/area.py
  smart_heating/models/area_schedule_manager.py
  tests/pyproject.toml
  tests/unit/features/test_proactive_maintenance.py
  tests/unit/test_api_handlers_config.py
  tests/unit/test_api_post_more_branches.py
  tests/unit/test_area_manager.py
  tests/unit/test_models_area.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix: resolve proactive heating timezone issues and add exception handling
  smart_heating/core/coordination/temperature_tracker.py
  smart_heating/features/proactive_maintenance.py
  smart_heating/features/scheduler.py
  smart_heating/models/area_boost_manager.py
Due: ruff, ruff-format

fix: handle time_to_threshold=0 as immediate heating trigger
  smart_heating/features/proactive_maintenance.py
Due: ruff, ruff-format

feat: allow hysteresis=0.0 and add minimum trend threshold setting
  smart_heating/frontend/src/components/AreaDetail/HeatingControlSection.tsx
  smart_heating/frontend/src/components/AreaDetail/ProactiveMaintenanceSection.tsx
Due: eslint, prettier, tsc

fix: prevent immediate reloads and enable hysteresis 0.0
  smart_heating/frontend/src/components/AreaDetail/HeatingControlSection.tsx
  smart_heating/frontend/src/components/AreaDetail/ProactiveMaintenanceSection.tsx
Due: eslint, prettier, tsc

fix: use local state for sliders to prevent jumping and enable 0.0
  smart_heating/frontend/src/components/AreaDetail/HeatingControlSection.tsx
  smart_heating/frontend/src/components/AreaDetail/ProactiveMaintenanceSection.tsx
Due: eslint, prettier, tsc

fix: allow hysteresis 0.0 in backend validation
  smart_heating/api/handlers/config.py
  smart_heating/api/validators/area_validators.py
  smart_heating/models/area.py
Due: ruff, ruff-format

fix(manual-override): prevent false positive when idle setpoint is above target
  smart_heating/core/coordination/manual_override_detector.py
  tests/unit/core/coordination/test_manual_override_detector.py
Due: ruff, ruff-format

test(fix): make datetime comparisons timezone-safe and enforce hysteresis minimum
  smart_heating/api/handlers/config.py
  smart_heating/core/coordination/temperature_tracker.py
  smart_heating/models/area_boost_manager.py
Due: ruff, ruff-format

test(fix): make temperature tracker handle naive/aware timestamps; store naive boost end times for tests
  smart_heating/core/coordination/temperature_tracker.py
  smart_heating/models/area_boost_manager.py
Due: ruff, ruff-format

fix(tests): compare naive boost end times with datetime.now(); use dt_util.now() for aware comparisons
  smart_heating/core/coordination/temperature_tracker.py
  smart_heating/models/area_boost_manager.py
Due: ruff, ruff-format

Fix/proactive heating timezone issues (#179)
  smart_heating/api/handlers/config.py
  smart_heating/api/validators/area_validators.py
  smart_heating/core/coordination/manual_override_detector.py
  smart_heating/core/coordination/temperature_tracker.py
  smart_heating/features/proactive_maintenance.py
  smart_heating/features/scheduler.py
  smart_heating/frontend/src/components/AreaDetail/HeatingControlSection.tsx
  smart_heating/frontend/src/components/AreaDetail/ProactiveMaintenanceSection.tsx
  smart_heating/models/area.py
  smart_heating/models/area_boost_manager.py
  tests/unit/core/coordination/test_manual_override_detector.py
Due: ruff, ruff-format, eslint, prettier, tsc

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  eslint: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
  prettier: any of: smart_heating/frontend/src/.*\.(ts|tsx|json|css|md)$
  tsc: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
