Repository TheFlexican/smart-heating: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, eslint, prettier, tsc

ruff:
  name: ruff (lint)
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff check smart_heating --select E,F,C || true'
  language: system
  pass_filenames: false

ruff-format:
  name: ruff format
  entry: bash -c 'source venv/bin/activate || true; pip install --upgrade ruff >/dev/null 2>&1 || true; ruff format --quiet "$@"' --
  language: system
  pass_filenames: true

eslint:
  name: ESLint
  entry: bash -c 'cd smart_heating/frontend && npm run lint:fix'
  language: system
  pass_filenames: false

prettier:
  name: Prettier
  entry: bash -c 'cd smart_heating/frontend && npm run format'
  language: system
  pass_filenames: false

tsc:
  name: TypeScript Check
  entry: bash -c 'cd smart_heating/frontend && npm run type-check'
  language: system
  pass_filenames: false

fix(api/import_export): improve error logging, add constants and async yields; standardize 500 responses
  smart_heating/api/handlers/import_export.py
Due: ruff, ruff-format

fix(api/devices): typing, safe parsing, reduce complexity, robust error handling, and async awaits
  smart_heating/api/handlers/devices.py
Due: ruff, ruff-format

fix(api/config): safe hass.data lookups, improve logging, small refactors and async yields
  smart_heating/api/handlers/config.py
Due: ruff, ruff-format

test(area_manager): achieve 96% coverage with comprehensive unit tests
  tests/unit/test_area_manager.py
Due: ruff, ruff-format

fix(tests): correct API mocking in frontend and backend tests
  smart_heating/frontend/src/api/areas.test.ts
  smart_heating/frontend/src/api/config.test.ts
  smart_heating/frontend/src/api/devices.test.ts
  smart_heating/frontend/src/api/efficiency.test.ts
  smart_heating/frontend/src/api/history.test.ts
  smart_heating/frontend/src/api/import_export.test.ts
  smart_heating/frontend/src/api/logs.test.ts
  smart_heating/frontend/src/api/metrics.test.ts
  smart_heating/frontend/src/api/more_endpoints.test.ts
  smart_heating/frontend/src/api/opentherm.test.ts
  smart_heating/frontend/src/api/presets.test.ts
  smart_heating/frontend/src/api/sensors.test.ts
  smart_heating/frontend/src/api/users.test.ts
  smart_heating/frontend/src/api/vacation.test.ts
  tests/unit/test_api_heating_type.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix: ensure Sonar finds Python coverage.xml; explicit coverage file and debug step in CI
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

Fix/sonarqube findings (#156)
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

fix(sonar): reduce cognitive complexity and fix code smells
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/climate/devices/switch_handler.py
  smart_heating/climate/devices/thermostat/power_switch_manager.py
  smart_heating/climate/devices/thermostat/temperature_setter.py
  smart_heating/climate/devices/thermostat_handler.py
  smart_heating/climate/devices/valve_handler.py
  smart_heating/core/coordinator.py
  smart_heating/core/services/device_service.py
  smart_heating/frontend/src/components/AreaDetail/PresetConfigSection.tsx
  smart_heating/frontend/src/components/AreaDetail/SmartNightBoostSection.tsx
  smart_heating/frontend/src/utils/areaOrder.ts
  smart_heating/utils/validators.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(sonar): resolve string duplication, task GC, and await issues
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/climate/devices/switch_handler.py
  smart_heating/climate/devices/thermostat/temperature_setter.py
  smart_heating/climate/devices/thermostat_handler.py
  smart_heating/climate/devices/valve_handler.py
  smart_heating/core/coordinator.py
  smart_heating/core/services/device_service.py
  smart_heating/frontend/src/components/AreaDetail/PresetConfigSection.tsx
  smart_heating/frontend/src/components/AreaDetail/SmartNightBoostSection.tsx
  smart_heating/utils/validators.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(sonar): resolve string duplication, task GC, and await issues (#158)
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/climate/devices/switch_handler.py
  smart_heating/climate/devices/thermostat/temperature_setter.py
  smart_heating/climate/devices/thermostat_handler.py
  smart_heating/climate/devices/valve_handler.py
  smart_heating/core/coordinator.py
  smart_heating/core/services/device_service.py
  smart_heating/frontend/src/components/AreaDetail/PresetConfigSection.tsx
  smart_heating/frontend/src/components/AreaDetail/SmartNightBoostSection.tsx
  smart_heating/utils/validators.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(sonar): comprehensive SonarQube findings reduction
  smart_heating/api/handlers/area_crud.py
  smart_heating/api/handlers/area_settings.py
  smart_heating/api/handlers/config.py
  smart_heating/api/handlers/devices.py
  smart_heating/api/handlers/import_export.py
  smart_heating/api/handlers/sensors.py
  smart_heating/api/handlers/users.py
  smart_heating/api/server.py
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/climate/devices/switch_handler.py
  smart_heating/climate/devices/thermostat/temperature_setter.py
  smart_heating/climate/devices/valve_handler.py
  smart_heating/core/coordinator.py
  smart_heating/core/services/config_service.py
  smart_heating/core/services/device_service.py
  smart_heating/features/device_capability_detector.py
  smart_heating/features/learning_engine.py
  smart_heating/features/safety_monitor.py
  smart_heating/features/scheduler.py
  smart_heating/features/vacation_manager.py
  smart_heating/frontend/src/components/AdvancedMetricsDashboard.tsx
  smart_heating/frontend/src/components/AreaDetail/HeatingCurveControl.tsx
  smart_heating/frontend/src/components/EfficiencyReports.tsx
  smart_heating/frontend/src/components/HistoricalComparisons.tsx
  smart_heating/frontend/src/components/OpenThermLogger.tsx
  smart_heating/frontend/src/components/UserManagement.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/services/safety_handlers.py
  smart_heating/services/vacation_handlers.py
  smart_heating/storage/history.py
  smart_heating/utils/validators.py
  tests/unit/test_api_handlers_opentherm.py
  tests/unit/test_scheduler.py
Due: ruff, ruff-format, eslint, prettier, tsc

fix(sonar): comprehensive SonarQube findings reduction (#159)
  smart_heating/api/handlers/area_crud.py
  smart_heating/api/handlers/area_settings.py
  smart_heating/api/handlers/config.py
  smart_heating/api/handlers/devices.py
  smart_heating/api/handlers/import_export.py
  smart_heating/api/handlers/sensors.py
  smart_heating/api/handlers/users.py
  smart_heating/api/server.py
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/climate/devices/switch_handler.py
  smart_heating/climate/devices/thermostat/temperature_setter.py
  smart_heating/climate/devices/valve_handler.py
  smart_heating/core/coordinator.py
  smart_heating/core/services/config_service.py
  smart_heating/core/services/device_service.py
  smart_heating/features/device_capability_detector.py
  smart_heating/features/learning_engine.py
  smart_heating/features/safety_monitor.py
  smart_heating/features/scheduler.py
  smart_heating/features/vacation_manager.py
  smart_heating/frontend/src/components/AdvancedMetricsDashboard.tsx
  smart_heating/frontend/src/components/AreaDetail/HeatingCurveControl.tsx
  smart_heating/frontend/src/components/EfficiencyReports.tsx
  smart_heating/frontend/src/components/HistoricalComparisons.tsx
  smart_heating/frontend/src/components/OpenThermLogger.tsx
  smart_heating/frontend/src/components/UserManagement.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/services/safety_handlers.py
  smart_heating/services/vacation_handlers.py
  smart_heating/storage/history.py
  smart_heating/utils/validators.py
  tests/unit/test_api_handlers_opentherm.py
  tests/unit/test_scheduler.py
Due: ruff, ruff-format, eslint, prettier, tsc

ci: pass explicit sonar scanner args (verbose + coverage path + projectBaseDir) to ensure coverage.xml is picked up
  .github/workflows/ci.yml
Due: none

ci: pass explicit sonar scanner args (verbose + coverage path + projectBaseDir) to ensure coverage.xml is picked up (#160)
  .github/workflows/ci.yml
Due: none

Backend and frontend updates for SonarQube findings
  smart_heating/__init__.py
  smart_heating/api/handlers/import_export.py
  smart_heating/api/handlers/users.py
  smart_heating/climate/climate_controller.py
  smart_heating/climate/devices/thermostat/power_switch_manager.py
  smart_heating/climate/devices/valve_handler.py
  smart_heating/core/coordination/manual_override_detector.py
  smart_heating/core/services/device_service.py
  smart_heating/frontend/src/components/AreaDetail/AreaLearningTab.tsx
  smart_heating/frontend/src/components/AreaDetail/BoostModeSection.tsx
  smart_heating/frontend/src/components/AreaDetail/HeatingCurveControl.tsx
  smart_heating/frontend/src/components/AreaDetail/HeatingTypeSection.tsx
  smart_heating/frontend/src/hooks/useWebSocket.ts
  smart_heating/frontend/src/utils/areaOrder.ts
  smart_heating/models/area_sensor_manager.py
  smart_heating/storage/history.py
  smart_heating/storage_helpers.py
Due: ruff, ruff-format, eslint, prettier, tsc

The fix maintains the Home Assistant integration's requirement to use async/await patterns throughout, preventing any blocking of the event loop. All backend tests are now passing successfully.
  tests/unit/test_api_post_more_branches.py
Due: ruff, ruff-format

The fix maintains the Home Assistant integration's requirement to use async/await patterns throughout, preventing any blocking of the event loop. All backend tests are now passing successfully. (#161)
  tests/unit/test_api_post_more_branches.py
Due: ruff, ruff-format

more updates to sonarqube findings
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/climate/temperature_sensors.py
  smart_heating/features/learning_engine.py
  smart_heating/frontend/src/hooks/useWebSocket.ts
Due: ruff, ruff-format, eslint, prettier, tsc

more updates to sonarqube findings (#162)
  smart_heating/climate/devices/opentherm_handler.py
  smart_heating/climate/temperature_sensors.py
  smart_heating/features/learning_engine.py
  smart_heating/frontend/src/hooks/useWebSocket.ts
Due: ruff, ruff-format, eslint, prettier, tsc

fix: address Pylance and SonarQube issues across modules
  .claude/settings.json
  smart_heating/api/handlers/import_export.py
  smart_heating/climate/climate_controller.py
  smart_heating/core/coordination/debouncer.py
  smart_heating/core/user_manager.py
  smart_heating/features/scheduler.py
  smart_heating/frontend/src/components/DeviceOverview.tsx
  smart_heating/frontend/src/components/DevicePanel.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/theme.ts
  smart_heating/models/area_sensor_manager.py
  smart_heating/services/config_handlers.py
  smart_heating/storage/config_manager.py
  tests/README.md
  tests/unit/test_config_manager.py
Due: ruff, ruff-format, eslint, prettier, tsc

style(frontend): format with Prettier
  smart_heating/frontend/src/pages/AreaDetail.tsx
Due: eslint, prettier, tsc

fix: address Pylance & SonarQube issues
  .claude/settings.json
  smart_heating/api/handlers/import_export.py
  smart_heating/climate/climate_controller.py
  smart_heating/core/coordination/debouncer.py
  smart_heating/core/user_manager.py
  smart_heating/features/scheduler.py
  smart_heating/frontend/src/components/DeviceOverview.tsx
  smart_heating/frontend/src/components/DevicePanel.tsx
  smart_heating/frontend/src/pages/AreaDetail.tsx
  smart_heating/frontend/src/theme.ts
  smart_heating/models/area_sensor_manager.py
  smart_heating/services/config_handlers.py
  smart_heating/storage/config_manager.py
  tests/README.md
  tests/unit/test_config_manager.py
Due: ruff, ruff-format, eslint, prettier, tsc

refactor(frontend): extract helper components and add tests for ZoneCard & Header
  .github/agents/home-assistant-integration.agent.md
  .github/agents/sonarqube.agent.md
  smart_heating/frontend/src/__tests__/ZoneCard.test.tsx
  smart_heating/frontend/src/components/Header.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
Due: eslint, prettier, tsc

fix: address HIGH SonarQube issues (ZoneCard, Header)
  .github/agents/home-assistant-integration.agent.md
  .github/agents/sonarqube.agent.md
  smart_heating/frontend/src/__tests__/ZoneCard.test.tsx
  smart_heating/frontend/src/components/Header.tsx
  smart_heating/frontend/src/components/ZoneCard.tsx
Due: eslint, prettier, tsc

chore: format with Prettier
  smart_heating/frontend/src/components/ImportExport.tsx
Due: eslint, prettier, tsc

style: apply Prettier formatting
  smart_heating/frontend/src/api/client.ts
  smart_heating/frontend/src/hooks/transports.ts
Due: eslint, prettier, tsc

fix(power): remove unused parameter in _call_switch_service
  smart_heating/climate/devices/thermostat/power_switch_manager.py
Due: ruff, ruff-format

refactor(frontend): extract preview and success alert to separate components; restore types and helper
  smart_heating/frontend/src/components/ImportExport.tsx
  smart_heating/frontend/src/components/ImportExportPreviewDialog.tsx
  smart_heating/frontend/src/components/ImportExportSuccessAlert.tsx
Due: eslint, prettier, tsc

refactor(frontend): move import/export logic into hook and extract preview/success components
  smart_heating/frontend/src/components/ImportExport.tsx
  smart_heating/frontend/src/hooks/useImportExport.ts
Due: eslint, prettier, tsc

refactor(frontend): split ImportExport into view, hook and small components
  smart_heating/frontend/src/components/ExportButton.tsx
  smart_heating/frontend/src/components/ImportButton.tsx
  smart_heating/frontend/src/components/ImportExport.tsx
  smart_heating/frontend/src/components/ImportExportView.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract notifications and actions components for ImportExportView
  smart_heating/frontend/src/components/ImportExportActions.tsx
  smart_heating/frontend/src/components/ImportExportNotifications.tsx
  smart_heating/frontend/src/components/ImportExportView.tsx
Due: eslint, prettier, tsc

refactor(frontend): extract header and backup info into components to reduce complexity
  smart_heating/frontend/src/components/ImportExportHeader.tsx
  smart_heating/frontend/src/components/ImportExportInfo.tsx
  smart_heating/frontend/src/components/ImportExportView.tsx
Due: eslint, prettier, tsc

test: add unit tests for useImportExport (export, preview, import with reload)
  smart_heating/frontend/src/hooks/useImportExport.test.tsx
Due: eslint, prettier, tsc

refactor: reduce cognitive complexity of ImportExport component (#165)
  smart_heating/climate/devices/thermostat/power_switch_manager.py
  smart_heating/frontend/src/api/client.ts
  smart_heating/frontend/src/components/ExportButton.tsx
  smart_heating/frontend/src/components/ImportButton.tsx
  smart_heating/frontend/src/components/ImportExport.tsx
  smart_heating/frontend/src/components/ImportExportActions.tsx
  smart_heating/frontend/src/components/ImportExportHeader.tsx
  smart_heating/frontend/src/components/ImportExportInfo.tsx
  smart_heating/frontend/src/components/ImportExportNotifications.tsx
  smart_heating/frontend/src/components/ImportExportPreviewDialog.tsx
  smart_heating/frontend/src/components/ImportExportSuccessAlert.tsx
  smart_heating/frontend/src/components/ImportExportView.tsx
  smart_heating/frontend/src/hooks/transports.ts
  smart_heating/frontend/src/hooks/useImportExport.test.tsx
  smart_heating/frontend/src/hooks/useImportExport.ts
Due: ruff, ruff-format, eslint, prettier, tsc

fix: remove inline commented code in __init__.py to satisfy Sonar S125
  smart_heating/__init__.py
Due: ruff, ruff-format

fix: remove unused area_manager param from enable/disable handlers and update registration
  smart_heating/__init__.py
  smart_heating/services/area_handlers.py
Due: ruff, ruff-format

test(frontend): add import/export component tests; fix(frontend): adjust components to satisfy Sonar rules
  smart_heating/frontend/src/components/AreaDetail/AreaLearningTab.tsx
  smart_heating/frontend/src/components/EfficiencyReports.tsx
  smart_heating/frontend/src/components/ExportButton.test.tsx
  smart_heating/frontend/src/components/ImportButton.test.tsx
  smart_heating/frontend/src/components/ImportExportNotifications.test.tsx
  smart_heating/frontend/src/components/OpenThermLogger.tsx
Due: eslint, prettier, tsc

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  eslint: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
  prettier: any of: smart_heating/frontend/src/.*\.(ts|tsx|json|css|md)$
  tsc: any of: smart_heating/frontend/src/.*\.(ts|tsx)$
